@import "../../../App.scss";

// *****************************

// Project PAGE

// ******************************

.portfolio {
  // width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #01b1bf;
  position: relative;

  &__stickey {
    color: #fedf06;
    position: sticky;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 4rem;
    top: 50px;
    right: 3.5%;
    z-index: 20;
    h1 {
      font-size: 4rem;
      @include tablet {
        font-size: 2rem;
      }
    }
  }

  &__nav {
    // width: 30%;
  }
  &__works {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .project {
      &__wrapper {
        scroll-snap-type: y mandatory;
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 40px 0;
      }

      &__box {
        margin-top: 50px;
        scroll-snap-align: center;
        display: flex;
        align-items: center;
        padding: 10px;
        width: 47%;
        &--img {
          z-index: 10;
          width: 400px;
          height: 300px;
        }

        &--detail {
          width: 300px;
          z-index: 10;
          padding: 10px;

          li {
            svg {
              width: 20px;
              height: 20px;
              fill: rgb(0, 60, 65);
            }
          }
          h3 {
            font-size: 2rem;
            font-weight: lighter;
            text-transform: uppercase;
            color: #fedf06;
          }

          button {
            padding: 10px 20px;
            background: transparent;
            border: 2px solid #fedf06;
          }
        }

        @include tablet {
          flex-flow: wrap;
          align-content: center;
          text-align: right;
          width: 100%;
          height: 600px;
          margin-left: 20px;

          &:nth-child(even) {
            flex-flow: wrap;
          }

          .project-img {
            img {
              max-width: 80vw;
            }

            &::after {
              display: none;
            }
          }

          .project-detail {
            h3 {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
