@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900,900i&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #FEDF06;
}

button:focus {
    outline: none;
}

@mixin mobile {
    @media (max-width: 430px) {
        @content
    };
}

@mixin tablet {
    @media (max-width: 900px) {
        @content
    };
}

$accecnt-color: #FEDF06;


// *****************************

// HOME PAGE

// ******************************

.home {
    height: 100vh;
    position: relative;
    scroll-snap-align: none;
}

.title {
    position: absolute;
    padding: 100px;
    z-index: 888;
    color: #FEDF06;

    span {
        font-size: 10rem;
    }

    p {
        font-size: 1.5rem;
        width: 400px;
        letter-spacing: 5px;
        padding: 10px;
    }
}


.home-wrapper {
    span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: block;
    }

    span:first-child {
        -webkit-clip-path: polygon(100% 100vh, 100vh 0, 0 0);
        clip-path: polygon(100% 0%, 0 100vh, 100% 100vh);
        background: #01B1BF;
    }

    span:last-child {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh);
        clip-path: polygon(100% 0, 0 100vh, 0 0);
        background: #FF005D;
    }
}

@include tablet {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        padding: 20px;
        margin-left: 20px;

        span {
            font-size: 4rem;
        }

        p {
            width: auto;
            font-size: 1rem;
        }
    }
}




// *****************************

// WORK PAGE

// ******************************


.work-container {
    background: #01B1BF;

    .work-contents {
        width: 80vw;
        margin: 0 auto;
        display: flex;
        padding: 50px;
        justify-content: space-around;

        img {
            max-width: 600px;
        }

        .work-img {
            animation-name: slideInLeft;
            animation-duration: 2s;
            animation-timing-function: ease-out;
        }

        .work-mockup {
            animation-name: slideInRight;
            animation-duration: 2s;
            animation-timing-function: ease-out;
        }

        h1 {
            font-size: 7rem;
            color: #FEDF06;
            padding: 50px;
        }

        ul,
        li {
            display: list-item;

            &:first-child {
                font-size: 1.5rem;
            }
        }

        button {
            padding: 10px 20px;
            background: transparent;
            border: 2px solid #FEDF06;
        }

        .work-detail {
            display: flex;
            flex-direction: column;
            justify-content: inherit;
        }
    }

    .work-description {
        width: inherit;
        padding: 30px 40px;
        background: rgb(0, 0, 0);
        color: #ffffff;

        p {
            margin: 0 auto;
            line-height: 30px;
            letter-spacing: 5px;
            width: 70vw;
            font-size: 1.5rem;
            font-weight: 100;
        }
    }
}

@include tablet {
    .work-container {

        .work-contents {
            flex-wrap: wrap;

            .work-img {
                margin-top: 50px;

            }

            img {
                max-width: 300px;
            }

            h1 {
                font-size: 4rem;
                padding: 20px;
            }
        }

        .work-contents.reverse {
            background: #FF005D;
            flex-wrap: wrap-reverse
        }
    }

}




// *****************************

// HELPERS

// ******************************

::-webkit-scrollbar {
    height: 4px;
    /* height of horizontal scrollbar ← You're missing this */
    width: 4px;
    /* width of vertical scrollbar */
    border: 10px solid #FEDF06;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

.anchor-link {
    position: absolute;
    height: 30px;
    width: 50px;
    bottom: 0;
    right: 50%;
}


// *****************************

// LOADING PAGE

// ******************************

.loading-wrapper {
    background: #e91e63;
    margin: 0;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    letter-spacing: 15px;
    overflow: hidden;

    span {
        position: absolute;
        background: #fff;

        &:nth-child(1) {
            width: 100%;
            height: 4px;
            top: 0;
            left: -100%;
            animation: rotate1 2s linear infinite;
        }

        &:nth-child(3) {
            width: 100%;
            height: 4px;
            bottom: 0;
            right: -100%;
            animation: rotate2 2s linear infinite;
        }

        &:nth-child(2) {
            width: 4px;
            height: 100%;
            right: 0;
            top: -100%;
            animation: rotate3 2s linear infinite;
        }

        &:nth-child(4) {
            width: 4px;
            height: 100%;
            left: 0;
            bottom: -100%;
            animation: rotate4 2s linear infinite;
        }
    }
}

@keyframes rotate1 {
    0% {
        left: -100%;
    }

    20% {
        left: 0;
    }

    40% {
        left: 100%;
    }

    60% {
        left: 100%;
    }

    80% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes rotate2 {
    0% {
        right: -100%;
    }

    20% {
        right: 0;
    }

    40% {
        right: 100%;
    }

    60% {
        right: 100%;
    }

    80% {
        right: 100%;
    }

    100% {
        right: 100%;
    }
}


@keyframes rotate3 {
    0% {
        top: -100%;
    }

    20% {
        top: -100%;
    }

    40% {
        top: 0;
    }

    60% {
        top: 100%;
    }

    80% {
        top: 100%;
    }

    100% {
        top: 100%;
    }
}

@keyframes rotate4 {
    0% {
        bottom: -100%;
    }

    20% {
        bottom: -100%;
    }

    40% {
        bottom: 0;
    }

    60% {
        bottom: 100%;
    }

    80% {
        bottom: 100%;
    }

    100% {
        bottom: 100%;
    }
}


// *****************************

//  PAGE TRANSITION

// ******************************

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity 800ms ease-out;
    opacity: 1;
}

.fade-exit {
    transition: opacity 800ms ease-in;
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}